<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>prog01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>prog02.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>prog03.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>prog04.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>prog05.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>prog06.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>prog07.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>prog08.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>prog2_20200130.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4904000223E25496004E1D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4904000D23E2549D004E1D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4904FFC023E25465004E1D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4904FFD623E25478004E1D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4904FFE123E2547F004E1D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4904FFEC23E25486004E1D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4904FFF723E2548E004E1D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
